header {
  background: rgba(0, 0, 0, 0.12);
  position: fixed;
  width: 100%;
  z-index: 3;
  transition: background .4s ease;
}

.social-links {
  height: 3rem;
  display: none;
}

.header-scrolled {
  background: #c2c9d1;
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.2);
  color: black;
}

.header-scrolled-2 {
  background: #c2c9d1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

header ul{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

header ul a {
  display: block;
  text-align: center;
  font-weight: normal;
  color: white;
  font-size: 3rem;
  padding: 3rem 2rem;
  text-decoration: none;
}

.bottom-a {
  padding-bottom: 3rem;
}

header .logo {
  float: left;
  display: block;
  font-size: 3.5rem;
  padding: 3rem 2rem;
  color: white;
}

header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  color: white;
}

header .menu-icon {
  padding: 4.5rem 2rem;
  position: relative;
  float: right;
  cursor: pointer;
}

header .menu-icon .nav-icon {
  background: white;
  display: block;
  height: 4px;
  width: 4rem;
  position: relative;
  transition: background .2s ease-out;
}

header .menu-icon .nav-icon:before {
  background: white;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 18px;
  transition: all .2s ease-out;
}

header .menu-icon .nav-icon:after {
  background: white;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top:-18px;
  transition: all .2s ease-out;
}

header .menu-btn {
  display: none;
}

header .menu-btn:checked ~ .menu {
  max-height: 600px;
}

/*.header .menu-btn:checked ~ .header {
  background: rgba(0, 0, 0, 0.7);
} */

header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}

header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}

@media only screen and (min-width:992px) {
  header {
    position: absolute;
    /*test code*/
    display: flex;
    justify-content: space-between;
  }

  .nav-right {
    display: flex;
  }

  header li {
    float: left;
  }

  header li a {
    padding: 1rem 2rem;
  }

  header .menu {
    max-height: none;
  }

  .social-links {
    display: flex;
    width: 12rem;
    align-items: center;
    justify-content: space-between;
    padding-right: 3rem;
    z-index: 4;
  }

  .social-li {
    background-image: url("../linkedin-white.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 20px;
    width: 21px;
  }

  .social-be {
    background-image: url("../behance-white.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 20px;
    width: 33px;
  }

  .social-in {
    background-image: url("../instagram-white.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
  }

  header .menu-icon {
    display: none;
  }

  header .logo {
    float: left;
    display: block;
    font-size: 1.5rem;
    padding: 1rem 3rem;
    color: white;
  }

  .bottom-a {
    padding-bottom: 0px;
    padding-right: 3rem;
  }

  header ul a {
    display: block;
    text-align: center;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem 2rem;
    text-decoration: none;
  }

}
