body {
  font-family: ubuntu;
  font-size: 16px;
  background-color: #EBEBEB;
  color: #414141;
}

/* Loader Animation */
.loader-wrapper {
  position: absolute;
  background-color: white;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 5;
}

.loader-dots {
  display: flex;
  margin: auto auto;
  align-items: center;
  justify-content: space-between;
  width: 65px;
  height: 100vh;
}

.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #777777;
}

.dot-1 {
  animation-name: flow;
  animation-duration: .4s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.dot-2 {
  animation: flow .4s ease .2s infinite alternate;
}

.dot-3 {
  animation: flow .4s ease .4s infinite alternate;
}

@keyframes flow {
  from {
    opacity: 1;
    transform: scale(1.1);
  }
  to {
    opacity: .20;
    transform: scale(.75);
  }
}

h1 {
  font-size: 3.5rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: lighter;
}

h4 {
  font-weight: bold;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
}


/* Nav Bar*/
.top-bar {
  display: flex;
  height: 3rem;
  /*box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);*/
}

.top-bar a {
  color: #414141;
}

.logo-text {
  font-size: 1.3rem;
  font-weight: normal;
  display: flex;
  align-items: center;
  flex-grow: 1;
  color: #7E7E7E
}

nav {
  color: #7E7E7E;
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 15rem;
}

.social-links {
  display: flex;
  height: 3rem;
  width: 12rem;
  align-items: center;
  justify-content: space-between;
}


/* Intro*/
.container {
  margin: 0px auto;
  width: 80%;
  /*border: 1px solid black;*/
}

#projects {
  padding-top: 4rem;
}

.container.intro {
  display: flex;
  height: 90vh;
  align-items: center
}

.intro-text
span {
  padding-left: 7rem;
  line-height: 3rem;
  font-size: 1.5rem;
  font-weight: lighter;
}

/* Hero image */
.hero-image {
  width: 100%;
  height: 45rem;
  overflow: hidden;
}

.hero-image img {
  background-position: center;
  background-size: cover;
}


/* Catalogue*/
.container.catalogue {
  /*border: 1px solid black;*/
}

/*.row {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}*/

.row {
  margin: 0 auto;
  padding-bottom: 2rem;
}

.grid-item {
  height: 400px;
  /*width: 30%;*/
  /*border: 1px solid black;*/
}

.thumbnail {
  background-size: cover;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  height: 85%;
  /*border: 1px solid black;*/
  overflow: hidden;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.luma {
  background-image: url("../luma/tp__9135.png");
}

.aptus {
  background-image: url("../aptus/aptuspro-4mb.png");
}

.mbc {
  background-image: url("../mbc/mbgf30.gif");
  background-size: contain;
}

.playground {
  background-image: url("../playground/playground-tb.png");
}

.tx {
  background-image: url("../tx/txcover_800.png");
}

.pablo {
  background-image: url("../pablo/pablo-cover.png");
}

.title {
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  height: 15rem;
  margin-top: 5rem;
  color: #B0B0B0;
}

.footer1 {
  display: flex;
  justify-content: space-between;
}

footer p {
  padding-left: 3rem;
  font-weight: lighter;
  color: #B0B0B0;
}

footer li {
  float: left;
}

footer li a {
  padding: 1rem 2rem;
}

footer ul a {
  display: block;
  text-align: center;
  color: #777777;
  font-weight: 500;
  font-size: 1rem;
  padding: 0 2rem;
  text-decoration: none;
}

footer .menu {
  max-height: none;
  padding-top: 3rem;
}

footer .logo {
  float: left;
  display: block;
  font-size: 1.5rem;
  padding: 3rem 0 1rem 3rem;
  color: #B0B0B0;
}

footer .social-links {
  display: none;
}

@media only screen and (min-width: 992px) {
    .menu-wrap {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 4.5rem;
    font-weight: bold;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 3.5rem;
    font-weight: lighter;
  }

  h4 {
    font-size: 3rem;
    font-weight: bold;
  }

  .top-bar {
    height: 10rem;
  }

  .logo-text {
    font-size: 3.5rem;
  }

  nav {
    display: none;
  }

  .social-links {
    display: none;
  }

  .container {
    width: 98%;
  }

  .row {
    flex-direction: column;
    align-items: center;
  }

  .grid-item {
    height: 1000px;
    padding-bottom: 5rem;
  }

  .title
  span {
    font-size: 2rem;
  }

  footer {
    height: 30rem;
  }

  footer p {
    font-size: 2.4rem;
  }

  footer .logo {
    font-size: 3.5rem;
    padding-bottom: 0;
  }

  footer .menu {
    display: none;
  }

  footer .social-links {
    display: flex;
    height: auto;
    padding-top: 10rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
  }

  .social-li {
    background-image: url("../linkedin-grey@2x.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 2rem;
    height: 4rem;
    width: 5rem;
  }

  .social-be {
    background-image: url("../behance-grey@2x.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 2rem;
    height: 4rem;
    width: 7rem;
  }

  .social-in {
    background-image: url("../instagram-grey@2x.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 4rem;
    width: 4rem;
  }
}
